Repository consta-design-system/charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gizeasy, @N1MBER, @arhayka, @linturaven

Update generateReExports.js
  scripts/generateReExports.js
Owners: @gizeasy, @N1MBER

docs(documentation): add component pictures
  src/components/Area/__stand__/Area.image.svg
  src/components/Area/__stand__/Area.stand.tsx
  src/components/Bar/__stand__/Bar.image.svg
  src/components/Bar/__stand__/Bar.stand.tsx
  src/components/Bullet/__stand__/Bullet.image.svg
  src/components/Bullet/__stand__/Bullet.stand.tsx
  src/components/Column/__stand__/Column.image.svg
  src/components/Column/__stand__/Column.stand.tsx
  src/components/DualAxes/__stand__/DualAxes.image.svg
  src/components/DualAxes/__stand__/DualAxes.stand.tsx
  src/components/Gauge/__stand__/Gauge.image.svg
  src/components/Gauge/__stand__/Gauge.stand.tsx
  src/components/Histogram/__stand__/Histogram.image.svg
  src/components/Histogram/__stand__/Histogram.stand.tsx
  src/components/Line/__stand__/Line.image.svg
  src/components/Line/__stand__/Line.stand.tsx
  src/components/MixPlot/__stand__/MixPlot.image.svg
  src/components/MixPlot/__stand__/MixPlot.stand.tsx
  src/components/Pie/__stand__/Pie.image.svg
  src/components/Pie/__stand__/Pie.stand.tsx
  src/components/Radar/__stand__/Radar.image.svg
  src/components/Radar/__stand__/Radar.stand.tsx
  src/components/Scatter/__stand__/Scatter.image.svg
  src/components/Scatter/__stand__/Scatter.stand.tsx
  src/components/Waterfall/__stand__/Waterfall.image.svg
  src/components/Waterfall/__stand__/Waterfall.stand.tsx
Owners: @gizeasy, @N1MBER

docs(documentation): add imports, fix tables
  src/components/Area/__stand__/Area.dev.stand.mdx
  src/components/Area/__stand__/Area.stand.mdx
  src/components/Bar/__stand__/Bar.dev.stand.mdx
  src/components/Bar/__stand__/Bar.stand.mdx
  src/components/Bullet/__stand__/Bullet.dev.stand.mdx
  src/components/Bullet/__stand__/Bullet.stand.mdx
  src/components/Column/__stand__/Column.dev.stand.mdx
  src/components/Column/__stand__/Column.stand.mdx
  src/components/DualAxes/__stand__/DualAxes.dev.stand.mdx
  src/components/DualAxes/__stand__/DualAxes.stand.mdx
  src/components/Gauge/__stand__/Gauge.dev.stand.mdx
  src/components/Gauge/__stand__/Gauge.stand.mdx
  src/components/Histogram/__stand__/Histogram.dev.stand.mdx
  src/components/Histogram/__stand__/Histogram.stand.mdx
  src/components/Line/__stand__/Line.dev.stand.mdx
  src/components/Line/__stand__/Line.stand.mdx
  src/components/MixPlot/__stand__/MixPlot.dev.stand.mdx
  src/components/MixPlot/__stand__/MixPlot.stand.mdx
  src/components/Pie/__stand__/Pie.dev.stand.mdx
  src/components/Pie/__stand__/Pie.stand.mdx
  src/components/Radar/__stand__/Radar.dev.stand.mdx
  src/components/Radar/__stand__/Radar.stand.mdx
  src/components/Scatter/__stand__/Scatter.dev.stand.mdx
  src/components/Scatter/__stand__/Scatter.stand.mdx
  src/components/Waterfall/__stand__/Waterfall.dev.stand.mdx
  src/components/Waterfall/__stand__/Waterfall.stand.mdx
Owners: @arhayka, @linturaven

docs(documentation): add figma links
  src/components/Area/__stand__/Area.stand.tsx
  src/components/Bar/__stand__/Bar.stand.tsx
  src/components/Bullet/__stand__/Bullet.stand.tsx
  src/components/Column/__stand__/Column.stand.tsx
  src/components/DualAxes/__stand__/DualAxes.stand.tsx
  src/components/Gauge/__stand__/Gauge.stand.tsx
  src/components/Histogram/__stand__/Histogram.stand.tsx
  src/components/Line/__stand__/Line.stand.tsx
  src/components/Pie/__stand__/Pie.stand.tsx
  src/components/Radar/__stand__/Radar.stand.tsx
  src/components/Scatter/__stand__/Scatter.stand.tsx
  src/components/Waterfall/__stand__/Waterfall.stand.tsx
Owners: @gizeasy, @N1MBER

docs(common): add common docs
  scripts/generateReExportsConfig.js
  src/docs/create/create.stand.mdx
  src/docs/create/create.stand.tsx
  src/docs/start/start.stand.mdx
  src/docs/start/start.stand.tsx
  src/stand/standConfig.ts
Owners: @gizeasy, @N1MBER, @arhayka, @linturaven

docs(common): add common docs (#65)
  scripts/generateReExportsConfig.js
  src/docs/create/create.stand.mdx
  src/docs/create/create.stand.tsx
  src/docs/start/start.stand.mdx
  src/docs/start/start.stand.tsx
  src/stand/standConfig.ts
Owners: @gizeasy, @N1MBER, @arhayka, @linturaven

docs(sandbox): ) add links to sandboxes
  src/components/Area/__stand__/Area.stand.tsx
  src/components/Bar/__stand__/Bar.stand.tsx
  src/components/Bullet/__stand__/Bullet.stand.tsx
  src/components/Column/__stand__/Column.stand.tsx
  src/components/DualAxes/__stand__/DualAxes.stand.tsx
  src/components/Gauge/__stand__/Gauge.stand.tsx
  src/components/Histogram/__stand__/Histogram.stand.tsx
  src/components/Line/__stand__/Line.stand.tsx
  src/components/MixPlot/__stand__/MixPlot.stand.tsx
  src/components/Pie/__stand__/Pie.stand.tsx
  src/components/Radar/__stand__/Radar.stand.tsx
  src/components/Scatter/__stand__/Scatter.stand.tsx
  src/components/Waterfall/__stand__/Waterfall.stand.tsx
  src/hooks/useSlider/__stand__/UseSlider.stand.tsx
Owners: @gizeasy, @N1MBER

chore(sandbox): rewrrite links to ids
  package.json
  src/components/Area/__stand__/Area.stand.tsx
  src/components/Bar/__stand__/Bar.stand.tsx
  src/components/Bullet/__stand__/Bullet.stand.tsx
  src/components/Column/__stand__/Column.stand.tsx
  src/components/DualAxes/__stand__/DualAxes.stand.tsx
  src/components/Gauge/__stand__/Gauge.stand.tsx
  src/components/Histogram/__stand__/Histogram.stand.tsx
  src/components/Line/__stand__/Line.stand.tsx
  src/components/MixPlot/__stand__/MixPlot.stand.tsx
  src/components/Pie/__stand__/Pie.stand.tsx
  src/components/Radar/__stand__/Radar.stand.tsx
  src/components/Scatter/__stand__/Scatter.stand.tsx
  src/components/Waterfall/__stand__/Waterfall.stand.tsx
  src/hooks/useSlider/__stand__/UseSlider.stand.tsx
Owners: @gizeasy, @N1MBER

Update yarn.lock
  yarn.lock
Owners: @gizeasy, @N1MBER

docs(sandbox): ) add links to sandboxes (#67)
  package.json
  src/components/Area/__stand__/Area.dev.stand.mdx
  src/components/Area/__stand__/Area.stand.tsx
  src/components/Bar/__stand__/Bar.stand.tsx
  src/components/Bullet/__stand__/Bullet.stand.tsx
  src/components/Column/__stand__/Column.dev.stand.mdx
  src/components/Column/__stand__/Column.stand.tsx
  src/components/DualAxes/__stand__/DualAxes.stand.tsx
  src/components/Gauge/__stand__/Gauge.stand.tsx
  src/components/Histogram/__stand__/Histogram.dev.stand.mdx
  src/components/Histogram/__stand__/Histogram.stand.tsx
  src/components/Line/__stand__/Line.stand.tsx
  src/components/MixPlot/__stand__/MixPlot.stand.tsx
  src/components/Pie/__stand__/Pie.stand.tsx
  src/components/Radar/__stand__/Radar.stand.tsx
  src/components/Scatter/__stand__/Scatter.stand.tsx
  src/components/Waterfall/__stand__/Waterfall.stand.tsx
  src/hooks/useSlider/__stand__/UseSlider.stand.tsx
  yarn.lock
Owners: @gizeasy, @N1MBER, @arhayka, @linturaven

docs: add variants
  package.json
  src/components/Area/__stand__/Area.variants.tsx
  src/components/Bar/__stand__/Bar.variants.tsx
  src/components/Bullet/__stand__/Bullet.variants.tsx
  src/components/Column/__stand__/Column.variants.tsx
  src/components/DualAxes/__stand__/DualAxes.variants.tsx
  src/components/Gauge/__stand__/Gauge.variants.tsx
  src/components/Histogram/__stand__/Histogram.variants.tsx
  yarn.lock
Owners: @gizeasy, @N1MBER

docs: add variants for Line, Pie, Radar, Scatter, Waterfall
  src/components/Line/__stand__/Line.stand.tsx
  src/components/Line/__stand__/Line.variants.tsx
  src/components/Pie/__stand__/Pie.variants.tsx
  src/components/Radar/__stand__/Radar.variants.tsx
  src/components/Scatter/__stand__/Scatter.variants.tsx
  src/components/Waterfall/__stand__/Waterfall.variants.tsx
Owners: @gizeasy, @N1MBER

chore(stand): update stand version
  package.json
  yarn.lock
Owners: @gizeasy, @N1MBER

fix(variants): fix varinats after update
  src/components/Area/__stand__/Area.variants.tsx
  src/components/Column/__mocks__/mock.data.ts
  src/components/Column/__stand__/Column.variants.tsx
  src/components/Gauge/__stand__/Gauge.variants.tsx
  src/components/Line/__stand__/Line.variants.tsx
  src/components/Pie/__stand__/Pie.variants.tsx
Owners: @gizeasy, @N1MBER

fix: fix
  package.json
  src/components/Area/__stand__/Area.variants.tsx
  src/components/Bar/__stand__/Bar.variants.tsx
  src/components/Bullet/__stand__/Bullet.variants.tsx
  src/components/Column/__stand__/Column.variants.tsx
  src/components/DualAxes/__stand__/DualAxes.variants.tsx
  src/components/Gauge/__stand__/Gauge.variants.tsx
  src/components/Histogram/__stand__/Histogram.variants.tsx
  src/components/Line/__stand__/Line.variants.tsx
  src/components/Pie/__stand__/Pie.variants.tsx
  src/components/Radar/__stand__/Radar.variants.tsx
  src/components/Scatter/__stand__/Scatter.variants.tsx
  src/components/Waterfall/__stand__/Waterfall.variants.tsx
  src/stand/standConfig.ts
  yarn.lock
Owners: @gizeasy, @N1MBER

docs: change components version
  src/components/Area/__stand__/Area.stand.tsx
  src/components/Bar/__stand__/Bar.stand.tsx
  src/components/Bullet/__stand__/Bullet.stand.tsx
  src/components/Column/__stand__/Column.stand.tsx
  src/components/DualAxes/__stand__/DualAxes.stand.tsx
  src/components/Gauge/__stand__/Gauge.stand.tsx
  src/components/Histogram/__stand__/Histogram.stand.tsx
  src/components/Line/__stand__/Line.stand.tsx
  src/components/MixPlot/__stand__/MixPlot.stand.tsx
  src/components/Pie/__stand__/Pie.stand.tsx
  src/components/Radar/__stand__/Radar.stand.tsx
  src/components/Scatter/__stand__/Scatter.stand.tsx
  src/components/Waterfall/__stand__/Waterfall.stand.tsx
Owners: @gizeasy, @N1MBER

docs: add new variants (#68)
  package.json
  src/components/Area/__stand__/Area.variants.tsx
  src/components/Bar/__stand__/Bar.variants.tsx
  src/components/Bullet/__stand__/Bullet.variants.tsx
  src/components/Column/__mocks__/mock.data.ts
  src/components/Column/__stand__/Column.variants.tsx
  src/components/DualAxes/__stand__/DualAxes.variants.tsx
  src/components/Gauge/__stand__/Gauge.variants.tsx
  src/components/Histogram/__stand__/Histogram.variants.tsx
  src/components/Line/__stand__/Line.stand.tsx
  src/components/Line/__stand__/Line.variants.tsx
  src/components/Pie/__stand__/Pie.variants.tsx
  src/components/Radar/__stand__/Radar.variants.tsx
  src/components/Scatter/__stand__/Scatter.variants.tsx
  src/components/Waterfall/__stand__/Waterfall.variants.tsx
  src/stand/standConfig.ts
  yarn.lock
Owners: @gizeasy, @N1MBER

docs: change components version (#69)
  src/components/Area/__stand__/Area.stand.tsx
  src/components/Bar/__stand__/Bar.stand.tsx
  src/components/Bullet/__stand__/Bullet.stand.tsx
  src/components/Column/__stand__/Column.stand.tsx
  src/components/DualAxes/__stand__/DualAxes.stand.tsx
  src/components/Gauge/__stand__/Gauge.stand.tsx
  src/components/Histogram/__stand__/Histogram.stand.tsx
  src/components/MixPlot/__stand__/MixPlot.stand.tsx
  src/components/Pie/__stand__/Pie.stand.tsx
  src/components/Radar/__stand__/Radar.stand.tsx
  src/components/Scatter/__stand__/Scatter.stand.tsx
  src/components/Waterfall/__stand__/Waterfall.stand.tsx
Owners: @gizeasy, @N1MBER

feat(standConfig): edit standConfig
  package.json
  src/stand/standConfig.ts
  yarn.lock
Owners: @gizeasy, @N1MBER

.github/CODEOWNERS:

* @gizeasy @N1MBER 
*.md @arhayka @linturaven
*.mdx @arhayka @linturaven
*.css @linturaven
